@using MyTool.Enums
@model WebMaker.Entity.ViewModels.ResetPasswordViewModel


@using (Html.BeginForm("ResetPassword", "Member", FormMethod.Post))
{
    <input type="hidden" id="returnUrl" value="@Url.Action("Login", "Member", new  { })" />
    <input type="hidden" id="successMessage" data-title="重設密碼" value="@MyTool.Enums.MessageType.Confirm" />

    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <div class="form-group row">
        <label class="col-sm-offset-2 col-sm-2 form-label text-right">密碼(*)</label>
        <div class="col-sm-5">
            @Html.PasswordFor(model => model.Password, new { @class = "form-control", placeholder = "請輸入 6-12 個英數字" })
            @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
        </div>
    </div>
        <div class="form-group row">
            <label class="col-sm-offset-2 col-sm-2 form-label text-right">確認密碼(*)</label>
            <div class="col-sm-5">
                @Html.PasswordFor(model => model.PasswordConfirm, new { @class = "form-control", placeholder = "請再次輸入密碼" })
                @Html.ValidationMessageFor(model => model.PasswordConfirm, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 text-center">
                <button id="SaveBtn" type="button" class="btn btn-default border-n n-back-g text-black text28">Submit</button>
            </div>
        </div>

}
