@using MyTool.Enums
@using MyTool.Services
@model WebMaker.Entity.Models.mgt_UserProfile

@{
    //bool isNew = Model.User.ID == Guid.Empty;
    ViewBag.Title = "選手管理";
    List<ClientSetting> clientSettings = WebMaker.BLL.Helpers.SessionManager.Client.ClientSetting.ToContainList<ClientSetting>();
}

<div class="page-header">
    <h1>@ViewBag.Title</h1>
</div>

@using (Html.BeginForm(null, null, FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.ID)

        <div class="form-group has-warning">
            <label class="control-label col-md-2">建立人</label>
            <div class="col-md-10">
                @Model.mgt_UserCreate.Name
                <input type="text" name="UserMail" class="form-control single-line" placeholder="更換建立人,請輸入Email" />
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">姓名</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.NickName, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Birthday, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="input-group">
                    <input type="text" class="form-control date-picker" name="Birthday" value="@Model.Birthday.ToDateString()">
                    <span class="input-group-addon">
                        <i class="fa fa-calendar"></i>
                    </span>
                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Gender, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <label class="radio-inline">
                    <input type="radio" name="Gender" value="@((int)GenderType.Male)" @(Model.Gender == (int)GenderType.Male ? "checked" : "")>男
                </label>
                <label class="radio-inline">
                    <input type="radio" name="Gender" value="@((int)GenderType.Female)" @(Model.Gender == (int)GenderType.Female ? "checked" : "")>女
                </label>
            </div>
        </div>

        <div class="form-group">       
            @Html.LabelFor(model => model.IsPassportNumber, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @*@mHelper.Switch("", "IsPassportNumber", Model.IsPassportNumber)*@
                <label class="radio-inline">
                    <input type="radio" name="IsPassportNumber" value="false" @( !Model.IsPassportNumber ? "checked" : "")>身分證
                </label>
                <label class="radio-inline">
                    <input type="radio" name="IsPassportNumber" value="true" @( Model.IsPassportNumber ? "checked" : "")>護照
                </label>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.IdentityCard, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.IdentityCard, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.IsDelete, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @mHelper.Switch("", "IsDelete", Model.IsDelete)
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">教練名單</label>
            <div class="col-md-10">
                @{ var assigns = Model.mgt_UserAssign.Where(x => !x.IsDelete);}
                @string.Join("、", assigns.Select(x => x.mgt_UserTo.Name))
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input id="SaveBtn" type="button" value="儲存" class="btn btn-info" />
                <input id="CancelBtn" type="button" value="取消" class="btn btn-default" />
            </div>
        </div>
    </div>
                    }
