@using MyTool.Enums
@using MyTool.Services
@model MyTool.ViewModels.PageModel<WebMaker.Entity.Models.mgt_UserProfile>
@{
    List<ClientSetting> clientSettings = WebMaker.BLL.Helpers.SessionManager.Client.ClientSetting.ToContainList<ClientSetting>();
}
<table class="table table-striped table-bordered bootstrap-datatable">
    <tr>
        <th width="12%"><!--setting--></th>
        <th>建立人</th>
        <th>選手姓名</th>
        <th>生日</th>
        <th>姓別</th>
        <th>身分證/護照號</th>
        <th>教練名單</th>
        <th>建立時間</th>
        <th></th>
    </tr>
    @foreach (var item in Model.Data)
    {
        <tr data-id="@item.ID">
            <td>
                <a href="javascript:" class="EditBtn btn btn-sm btn-info" title="Edit"><i class="fa fa-pencil"></i></a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.mgt_UserCreate.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NickName)
            </td>
            <td>
                @item.Birthday.ToDateString()
            </td>
            <td>
                @(item.Gender.GetDisplayName<GenderType>())
            </td>
            <td>
                @item.IdentityCard.HidePartWords()
            </td>
            <td>
                @{ var assigns = item.mgt_UserAssign.Where(x => !x.IsDelete);}
                @string.Join("、", assigns.Select(x => x.mgt_UserTo.Name))
            </td>
            <td>@item.CreateTime.ToDateString("yyyy/MM/dd HH:mm")</td>
            <td>@mHelper.IsEnabled(!item.IsDelete, "啟用", "刪除")</td>
        </tr>
                    }
</table>

@Html.Partial("_Pagination", Model)

