@using MyTool.Enums
@using MyTool.Services
@using MyTool.Tools
@using WebMaker.Entity.ViewModels
@model List<CompetitionMembersModel>
@{
    ReportStyle style = ViewBag.ReportStyle;
}
@if (style == ReportStyle.Json)
{
    var json = _Json.ModelToJson(Model);

    <textarea rows="30" cols="50" style="width: 100%;">@json</textarea>
}
else
{
    <table class="table table-striped table-bordered bootstrap-datatable">
        <tr class="active" style="text-align: right;font-size: 16px;">
            <td colspan="12">金額共計: @Model.Sum(x => x.Items.Sum(y => y.DetailPrice + y.DiscountPrice)).ToString("0")</td>
        </tr>
        <tr class="active">
            <th class="info">選手編號</th>
            <th class="info">姓名</th>
            <th class="info">性別</th>
            <th class="info">生日</th>
            <th class="info">身分證</th>
            @*<th>單位編號</th>*@
            <th width="15%">單位</th>
            <th>教練</th>
            <th>項目數量</th>
            <th>參加項目</th>
            <th>組別</th>
            <th class="success">價格</th>
            <th class="success">優惠</th>
        </tr>
        @{ var count = 0;}
        @foreach (var item in Model)
        {
            count++;
            var len = item.ItemCount;
            var rs = (len == 0 ? "" : len.ToString());
            <tr>
                @showData_0(item, style == ReportStyle.Mearge ? rs : "") @*合併*@
                @showData_1(item.Items.FirstOrDefault() ?? new CompetitionMemberItem())
            </tr>
            foreach (var i in item.Items.Skip(1))
            {
                <tr>
                    @if (style != ReportStyle.Mearge)
                    {
                        @showData_0(item) //重複前面
                    }
                    @showData_1(i)
                </tr>
            }
        }
    </table>
            }
@* 選手 *@
@helper showData_0(CompetitionMembersModel item, string rs = "")
{
    <td rowspan="@rs">@item.TempNo</td>
    <td rowspan="@rs">@item.MemberName</td>
    <td rowspan="@rs">@(item.Gender.GetDisplayName<GenderType>())</td>
    <td rowspan="@rs">@item.Birthday.ToDateString()</td>
    <td rowspan="@rs">@item.IdentityCard</td>
    @*<td rowspan="@rs">@item.UnitTempNo</td>*@
    <td rowspan="@rs">@item.Unit</td>
    <td rowspan="@rs">@item.Coach</td>
    <td rowspan="@rs">@item.ItemCount</td>
}

@* 項目 *@
@helper showData_1(CompetitionMemberItem item)
{
    <td>@item.Subject</td>
    <td>@item.Option</td>
    <td>@item.DetailPrice.ToString("0")</td>
    <td>@item.DiscountPrice.ToString("0")</td>

}

<div class="page-area">
    <span>共@(Model.Count)筆</span>
</div>