@using MyTool.Enums
@using MyTool.Services
@using MyTool.Tools
@model List<WebMaker.Entity.ViewModels.CompetitionCountModel>
@{
    ViewBag.Title = "盃賽統計-" + ViewBag.ParentSubject;
    WebMaker.Entity.Models.cms_Structure structure = ViewBag.Structure;
    //包含流程
    var orderStatus = structure.OrderStatuses.ToContainList<OrderStatus>();
    orderStatus.Remove(OrderStatus.AdminEdit);
}
<h2>@ViewBag.Title</h2>
<br>

<table id="mainTable" class="table table-striped table-bordered bootstrap-datatable">
    <tr>
        <th>分區</th>
        <th>組別</th>
        <th>販售數量</th>
        <th>已售數量</th>
        <th>剩餘數量</th>
        <th>參與選手人數</th>
        @foreach (var status in orderStatus)
        {
            //@mHelper.OrderStatus((int)status, status.GetDisplayName())
            <th>@status.GetDisplayName()</th>
        }
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td style="text-align:left">@item.ArticleSubject</td>
            <td style="text-align:left">@item.OptionSubject</td>
            <td>@item.StockCount</td>
            <td>@item.SaleCount</td>
            <td>@(item.StockCount - item.SaleCount)</td>
            <td class="active">@item.MemberCount</td>

            @if (orderStatus.Contains((OrderStatus)50))
            {
                <td>@item.Status50</td>
            }
            @if (orderStatus.Contains((OrderStatus)54))
            {
                <td>@item.Status54</td>
            }
            @if (orderStatus.Contains((OrderStatus)55))
            {
                <td>@item.Status55</td>
            }
            @if (orderStatus.Contains((OrderStatus)80))
            {
                <td>@item.Status80</td>
            }
            @if (orderStatus.Contains((OrderStatus)99))
            {
                <td>@item.Status99</td>
            }
            @if (orderStatus.Contains((OrderStatus)100))
            {
                <td>@item.Status100</td>
            }
            @if (orderStatus.Contains((OrderStatus)110))
            {
                <td class="active">@item.Status110</td>
            }
            @if (orderStatus.Contains((OrderStatus)300))
            {
                <td class="active">@item.Status300</td>
            }
        </tr>
    }
    @* 總計 *@
    <tr class="warning">
        <th colspan="2" class="">總計</th>
        <th>@Model.Sum(x => x.StockCount)</th>
        <th>@Model.Sum(x => x.SaleCount)</th>
        <th>@(Model.Sum(x => x.StockCount) - Model.Sum(x => x.SaleCount))</th>
        <th>@Model.Sum(x => x.MemberCount)</th>

        @if (orderStatus.Contains((OrderStatus)50))
            {
            <th>@Model.Sum(x => x.Status50)</th>
        }
        @if (orderStatus.Contains((OrderStatus)54))
            {
            <th>@Model.Sum(x => x.Status54)</th>
        }
        @if (orderStatus.Contains((OrderStatus)55))
            {
            <th>@Model.Sum(x => x.Status55)</th>
        }
        @if (orderStatus.Contains((OrderStatus)80))
            {
            <th>@Model.Sum(x => x.Status80)</th>
        }
        @if (orderStatus.Contains((OrderStatus)99))
            {
            <th>@Model.Sum(x => x.Status99)</th>
        }
        @if (orderStatus.Contains((OrderStatus)100))
            {
            <th>@Model.Sum(x => x.Status100)</th>
        }
        @if (orderStatus.Contains((OrderStatus)110))
            {
            <th>@Model.Sum(x => x.Status110)</th>
        }
        @if (orderStatus.Contains((OrderStatus)300))
            {
            <th>@Model.Sum(x => x.Status300)</th>
        }
    </tr>

</table>

@section css {
    <style>
        #mainTable td,#mainTable th  {
            text-align: center;
        }
    </style>
}
