@using MyTool.Services
@using MyTool.Enums
@using WabMaker.Web.Helpers
@model WebMaker.Entity.Models.mgt_UserProfile
@{
    bool isCreate = Model.ID == Guid.Empty;
    Layout = null;
}


<td>
    @{ var NickName = "NickName";// isCreate ? "NickName" : "UpdateModel.NickName"; 
    }
    <input class="form-control" type="text" name="@NickName" value="@Model.NickName"
           data-val="true" data-val-length="不得大於50個字元" data-val-length-max="50" data-val-required="請輸入姓名">
    @Html.ValidationMessage(NickName, "", new { @class = "text-danger" })
</td>
<td>
    @{ var Birthday = "Birthday"; //isCreate ? "Birthday" : "UpdateModel.Birthday";
    }
    <input class="form-control" type="date" name="@Birthday" value="@Model.Birthday.ToDateString("yyyy-MM-dd")"
           data-val="true" data-val-date="" data-val-required="請輸入出生年月日" placeholder="yyyy-mm-dd">
    @Html.ValidationMessage(Birthday, "", new { @class = "text-danger" })
</td>
<td>
    @{ var Gender = "Gender";// isCreate ? "Gender" : "UpdateModel.Gender"; 
    }
    <div class="form-group row">
        <div class="col-sm-6">
            <input class="form-check-input" type="radio" @(Model.Gender == (int)GenderType.Male ? "checked" : "")
                   name="@Gender" id="Gender1" value="@((int)GenderType.Male)" data-val="true" data-val-required="請輸入性別">
            <label class="form-check-label" for="Gender1">男</label>
        </div>
        <div class="col-sm-6">
            <input class="form-check-input" type="radio" @(Model.Gender == (int)GenderType.Female ? "checked" : "")
                   name="@Gender" id="Gender2" value="@((int)GenderType.Female)">
            <label class="form-check-label" for="Gender2">女</label>
        </div>
        @Html.ValidationMessage(Gender, "", new { @class = "text-danger" })
    </div>
</td>
<td>
    @if (isCreate)
    {
        <div class="form-group row">
            <div class="col-sm-6">
                <input class="form-check-input" type="radio"
                       name="IsPassportNumber" id="IsPassportNumber0" value="false" checked>
                <label class="form-check-label" for="IsPassportNumber0">身分證</label>
            </div>
            <div class="col-sm-6">
                <input class="form-check-input" type="radio"
                       name="IsPassportNumber" id="IsPassportNumber1" value="true">
                <label class="form-check-label" for="IsPassportNumber1">護照</label>
            </div>
        </div>
        <input class="form-control" type="text" name="IdentityCard"
               data-val="true" data-val-required="請輸入身分證字號或護照" autocomplete="off">
        @Html.ValidationMessage("IdentityCard", "", new { @class = "text-danger" })
    }
    else
    {
        @Model.IdentityCard
    }
</td>


@if (isCreate)
{
    <td></td>
    <td colspan="2">
        <input type="hidden" name="IsCreate" value="true" />      
        <button id="MyChildSaveBtn" type="button" class="btn btn-style-seventeen btn-block">新增</button>
    </td>
}
else
{
    var assigns = Model.mgt_UserAssign.Where(x => !x.IsDelete);
    <td>@string.Join("、", assigns.Select(x => x.mgt_UserTo.Name))</td>
    <td>
        @*<button type="button" class="MyChildCancelBtn btn btn btn-style-eighteen btn-block">取消</button>*@
        @Ajax.RawActionLink("取消", "GetMyChild", "Member", new { id = Model.ID, IsEdit = false },
                new AjaxOptions() { HttpMethod = "GET", InsertionMode = InsertionMode.Replace, UpdateTargetId = "row_" + Model.ID }, new { @class = "MyChildCancelBtn btn btn btn-style-eighteen btn-block" })
    </td>
    <td>
        <input type="hidden" name="IsCreate" value="false" />   
        <input type="hidden" name="ID" value="@Model.ID" />      
        <button type="button" class="MyChildUpdateBtn btn btn-style-fifteen btn-block" style="padding: 1px 15px;font-size: 13px;">儲存</button>
    </td>
}


