@using MyTool.Enums
@model WebMaker.Entity.ViewModels.ResetPasswordViewModel

@* 重設密碼  *@
@using (Html.BeginForm("ResetPassword", "Member", FormMethod.Post))
{
    <input type="hidden" id="returnUrl" value="@Url.Action("Login", "Member", new  { })" />
    <input type="hidden" id="successMessage" data-title="重設密碼" value="@MyTool.Enums.MessageType.Confirm" />

    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <div class="form-group">
        密碼
        @Html.PasswordFor(model => model.Password, new { @class = "form-control", placeholder = "請輸入 6-12 個英數字" })
        @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        確認密碼
        @Html.PasswordFor(model => model.PasswordConfirm, new { @class = "form-control", placeholder = "請再次輸入密碼" })
        @Html.ValidationMessageFor(model => model.PasswordConfirm, "", new { @class = "text-danger" })
    </div>

    <input id="SaveBtn" type="button" value="Save" class="btn btn-default" />
}
