@using MyTool.Services
@using MyTool.Enums
@using WabMaker.Web.Helpers
@model WabMaker.Web.WebViewModels.ItemPageResult
<div class=block-title>熱門排行榜</div>

<div class="news-wrap news-list">
    @foreach (var item in Model.DataResult.Data)
    {
        var mainImage = item.ItemFiles?.FirstOrDefault(x => x.SourceType == (int)SourceType.ItemConver);

        <div class="thumbnail">
            <div class="pic effect">
                <img src="@RouteHelper.SetImagePath(mainImage?.FilePath, mainImage?.ThumbnailPath,"/html/RollerSport/images/default.jpg")" alt="" title="@item.ItemLanguage.Subject" />
                <a class="view-more" href="@Url.Action("Get","Item", new { routeName = item.Item.RouteName })" title="了解更多"><span>more</span></a>
            </div>

            <div class="caption">
                <h3 class="title"><a href="@Url.Action("Get","Item", new { routeName = item.Item.RouteName })" title="@item.ItemLanguage.Subject">@item.ItemLanguage.Subject</a></h3>
            </div>
        </div>

    }
</div><!-- news-list END -->
