@using MyTool.Enums
@using MyTool.Services
@using WabMaker.Web.Helpers
@model WebMaker.Entity.Models.mgt_UserRoleRelation
@{
    List<ClientSetting> clientSettings = WebMaker.BLL.Helpers.SessionManager.Client.ClientSetting.ToContainList<ClientSetting>();
}

<td>@Model.CreateTime.ToDateString()</td>
<td>@Model.mgt_Role.Name</td>
@if (clientSettings.Contains(ClientSetting.RolTimeLimit))
{
    <td>@Model.RoleNumber</td>
    <td>@(Model.IsTimeLimited ? Model.StartTime.ToDateString() + "~" + Model.EndTime.ToDateString() : "無")</td>
}
@*<td>@(Model.IsEnabled ? "是" : "")</td>*@
<td>
    <a class="edittable-action-edit" title="Edit"><i class="fa fa-pencil"></i></a>
    <a class="edittable-action-remove" title="Remove"><i class="fa fa-trash-o"></i></a>
</td>