@using WebMaker.BLL.Helpers;

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        @ViewBag.Title - @if (SessionManager.Client != null)
        {
            @SessionManager.Client.SystemName
        }
    </title>
    <link rel="icon" type="image/png" href="~/Images/admins/favicon.ico">
    @Styles.Render("~/Content/backcss")
    <link href="~/Content/custom/site.css?v=2019.3.4" rel="stylesheet" />
    <link href="~/Content/custom/mTree.css?v=2018.11.19" rel="stylesheet" />
    @RenderSection("css", required: false)
</head>
<body>
    <!--top navbar-->
    <div class="navbar navbar-default" id="navbar">

        <div class="navbar-container" id="navbar-container">

            <div class="navbar-header pull-left">
                <a href="@Url.Action("Index", "Home")" class="navbar-brand">
                    <small>
                        <i class="icon-desktop"></i>
                        @if (SessionManager.Client != null)
                        {
                            @SessionManager.Client.SystemName
                        }
                    </small>
                </a><!-- /.brand -->
            </div><!-- /.navbar-header -->

            <div class="navbar-header pull-right" role="navigation">
                <ul class="nav ace-nav">
                    <li class="light-blue">
                        <a data-toggle="dropdown" href="#" class="dropdown-toggle">
                            <span class="user-info">
                                @SessionManager.UserName
                            </span>

                            <i class="fa fa-caret-down"></i>
                        </a>

                        <ul class="user-menu pull-right dropdown-menu dropdown-yellow dropdown-caret dropdown-close">
                            @*<li>
                                <a href="#"><i class="icon-cog"></i>設定</a>
                            </li>
                            <li>
                                <a href="#"><i class="icon-user"></i>個人資料</a>
                            </li>
                            <li class="divider"></li>*@
                            <li>
                                <a href="@Url.Action("LogOut", "User")"><i class="icon-off"></i>登出</a>
                            </li>
                        </ul>
                    </li>
                </ul><!-- /.ace-nav -->
            </div><!-- /.navbar-header -->
        </div><!-- /.container -->
    </div>

    <!--side-->
    <div class="main-container" id="main-container">

        <div class="main-container-inner">
            <a class="menu-toggler" id="menu-toggler" href="#">
                <span class="menu-text"></span>
            </a>

            <div class="sidebar" id="sidebar">


                <div class="sidebar-shortcuts" id="sidebar-shortcuts">

                    <div class="sidebar-shortcuts-mini" id="sidebar-shortcuts-mini">
                        <span class="btn btn-success"></span>
                        <span class="btn btn-info"></span>
                        <span class="btn btn-warning"></span>
                        <span class="btn btn-danger"></span>
                    </div>
                </div><!-- #sidebar-shortcuts -->

                @{ Html.RenderAction("_TreeMenu", "Menu"); }

                <div class="sidebar-collapse" id="sidebar-collapse">
                    <i class="icon-double-angle-left" data-icon1="icon-double-angle-left" data-icon2="icon-double-angle-right"></i>
                </div>

                <script type="text/javascript">
                    try { ace.settings.check('sidebar', 'collapsed') } catch (e) { }
                </script>
            </div>

            <div class="main-content">
                <div class="page-content">
                    @RenderBody()
                </div><!-- /.page-content -->
            </div><!-- /.main-content -->
            <!-- /#ace-settings-container -->
        </div><!-- /.main-container-inner -->

        <a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse">
            <i class="icon-double-angle-up icon-only bigger-110"></i>
        </a>
    </div>

    <div class="modal fade" id="LoadingMask">
       <div class="modal-dialog">
           <i class="fa fa-circle-o-notch fa-pulse fa-3x fa-fw"></i>           
        </div>      
    </div>

    @Html.Partial("_ShowMessage")
    @Scripts.Render("~/bundles/backjs")
    <script src="~/Scripts/custom/site.js?v=2019.4.3"></script>
    <script src="~/Scripts/ckeditor/ckeditor.js?v=2018.12.11"></script>
    <script>
        site.init();
    </script>
    @RenderSection("scripts", required: false)
</body>
</html>
